
<!DOCTYPE html>
<html ⚡ lang="en">
  <head>


  <link href='https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css' rel='stylesheet' type='text/css'>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width,minimum-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="<%= @description %>">
    <title><%= @title %></title>
    <meta name="author" content="Overcharge Framework 1/1">
    <meta content="شارژ,ایرانسل,ايرانسل,کارت,اینترنتی,آنلاین,خرید شارژ،همراه اول،تالیا،رایتل" name="keywords" />

<link rel="apple-touch-icon" sizes="57x57" href="/images/apple-icon-57x57.png">
<link rel="apple-touch-icon" sizes="60x60" href="/images/apple-icon-60x60.png">
<link rel="apple-touch-icon" sizes="72x72" href="/images/apple-icon-72x72.png">
<link rel="apple-touch-icon" sizes="76x76" href="/images/apple-icon-76x76.png">
<link rel="apple-touch-icon" sizes="114x114" href="/images/apple-icon-114x114.png">
<link rel="apple-touch-icon" sizes="120x120" href="/images/apple-icon-120x120.png">
<link rel="apple-touch-icon" sizes="144x144" href="/images/apple-icon-144x144.png">
<link rel="apple-touch-icon" sizes="152x152" href="/images/apple-icon-152x152.png">
<link rel="apple-touch-icon" sizes="180x180" href="/images/apple-icon-180x180.png">
<link rel="apple-touch-startup-image" href="/images/logo_s.png">
<meta name="apple-mobile-web-app-title" content="شارژل">
<meta name="apple-mobile-web-app-status-bar-style" content="black">



<link rel="icon" type="image/png" sizes="192x192"  href="/images/android-icon-192x192.png">
<link rel="icon" type="image/png" sizes="32x32" href="/images/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="96x96" href="/images/favicon-96x96.png">
<link rel="icon" type="image/png" sizes="16x16" href="/images/favicon-16x16.png">
<link rel="manifest" href="/images/manifest.json">
<meta name="msapplication-TileColor" content="#ffffff">
<meta name="mobile-web-app-capable" content="yes">
<meta name="msapplication-TileImage" content="/images/ms-icon-144x144.png">
<meta name="theme-color" content="#ffffff">
<link rel="mask-icon" href="/images/safari-pinned-tab.svg" color="#5bbad5">


    <link rel="canonical" href="<%= Overcharge.Router.Helpers.url(@conn) <> @conn.request_path %>">

    <!-- Twitter Card data -->
    <meta name="twitter:card" content="summary">
    <meta name="twitter:site" content="@chargcell">
    <meta name="twitter:title" content="<%= @title %>">
    <meta name="twitter:description" content="<%= @description %>">
    <meta name="twitter:creator" content="@author_handle">
    <meta name="twitter:image" content="<%= Overcharge.Router.Helpers.url(@conn) %>/images/apple-touch-icon.png">
    <!-- Open Graph data -->
    <meta property="og:title" content="<%= @title %>" />
    <meta property="og:type" content="product" />
    <meta property="og:url" content="<%= Overcharge.Router.Helpers.url(@conn) %>" />
    <meta property="og:image" content="<%= Overcharge.Router.Helpers.url(@conn) %>/images/apple-touch-icon.png" />
    <meta property="og:description" content="<%= @description %>" /> 
    <meta property="og:site_name" content="OverCharge" />
    <meta property="fb:admins" content="220534798462355" />

  <style amp-boilerplate>body{-webkit-animation:-amp-start 8s steps(1,end) 0s 1 normal both;-moz-animation:-amp-start 8s steps(1,end) 0s 1 normal both;-ms-animation:-amp-start 8s steps(1,end) 0s 1 normal both;animation:-amp-start 8s steps(1,end) 0s 1 normal both}@-webkit-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@-moz-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@-ms-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@-o-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}</style><noscript><style amp-boilerplate>body{-webkit-animation:none;-moz-animation:none;-ms-animation:none;animation:none}</style></noscript>
  <script async src="https://cdn.ampproject.org/v0.js"></script>
  <%= if @page_type=="product" do %>
    <script async custom-element="amp-form" src="https://cdn.ampproject.org/v0/amp-form-0.1.js"></script>
    <script async custom-template="amp-mustache" src="https://cdn.ampproject.org/v0/amp-mustache-0.1.js"></script>
    <script async custom-element="amp-selector" src="https://cdn.ampproject.org/v0/amp-selector-0.1.js"></script>
  <% end %>

  <%= if @page_type=="list" do %>
  <% end %>

  <script async custom-element="amp-analytics" src="https://cdn.ampproject.org/v0/amp-analytics-0.1.js"></script>
  <script async custom-element="amp-social-share" src="https://cdn.ampproject.org/v0/amp-social-share-0.1.js"></script>


  <script type="application/ld+json">
{
  "@context": "http://schema.org",
  "@type": "WebSite",
  "name": "CharGELL",
  "alternateName": "شارژل",
  "url": "<%= Overcharge.Router.Helpers.url(@conn) %>"
 }
  </script>

  <script type="application/ld+json">
{
  "@context": "http://schema.org",
  "@type": "Organization",
  "url": "http://www.google.com",
  "logo": "<%= Overcharge.Router.Helpers.url(@conn) %>/images/logo_s.png",
  "contactPoint": [{
    "@type": "ContactPoint",
    "telephone": "+98-21-44237749",
    "contactType": "customer service"
  }]
}
</script>
  

  <style amp-custom>
  /** Syntax highlighting styles */


@font-face {
    font-family: IRANSans;
    font-style: bold;
    font-weight: 800;
    src: url('/fonts/IRANSans/eot/IRANSansWeb_Bold.eot');
    src: url('/fonts/IRANSans/eot/IRANSansWeb_Bold.eot?#iefix') format('embedded-opentype'), /* IE6-8 */
    url('/fonts/IRANSans/woff2/IRANSansWeb_Bold.woff2') format('woff2'), /* FF39+,Chrome36+, Opera24+*/
    url('/fonts/IRANSans/woff/IRANSansWeb_Bold.woff') format('woff'), /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
    url('/fonts/IRANSans/ttf/IRANSansWeb_Bold.ttf') format('truetype');
}


@font-face {
    font-family: IRANSans;
    font-style: light;
    font-weight: 200;
    src: url('/fonts/IRANSans/eot/IRANSansWeb_Light.eot');
    src: url('/fonts/IRANSans/eot/IRANSansWeb_Light.eot?#iefix') format('embedded-opentype'), /* IE6-8 */
    url('/fonts/IRANSans/woff2/IRANSansWeb_Light.woff2') format('woff2'), /* FF39+,Chrome36+, Opera24+*/
    url('/fonts/IRANSans/woff/IRANSansWeb_Light.woff') format('woff'), /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
    url('/fonts/IRANSans/ttf/IRANSansWeb_Light.ttf') format('truetype');
}

@font-face {
    font-family: IRANSans;
    font-style: ultralight;
    font-weight: 100;
    src: url('/fonts/IRANSans/eot/IRANSansWeb_UltraLight.eot');
    src: url('/fonts/IRANSans/eot/IRANSansWeb_UltraLight.eot?#iefix') format('embedded-opentype'), /* IE6-8 */
    url('/fonts/IRANSans/woff2/IRANSansWeb_UltraLight.woff2') format('woff2'), /* FF39+,Chrome36+, Opera24+*/
    url('/fonts/IRANSans/woff/IRANSansWeb_UltraLight.woff') format('woff'), /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
    url('/fonts/IRANSans/ttf/IRANSansWeb_UltraLight.ttf') format('truetype');
}

@font-face {
    font-family: IRANSans;
    font-style: normal;
    font-weight: normal;
    src: url('/fonts/IRANSans/eot/IRANSansWeb.eot');
    src: url('/fonts/IRANSans/eot/IRANSansWeb.eot?#iefix') format('embedded-opentype'), /* IE6-8 */
    url('/fonts/IRANSans/woff2/IRANSansWeb.woff2') format('woff2'), /* FF39+,Chrome36+, Opera24+*/
    url('/fonts/IRANSans/woff/IRANSansWeb.woff') format('woff'), /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
    url('/fonts/IRANSans/ttf/IRANSansWeb.ttf') format('truetype');
}

form.amp-form-submit-success [submit-success],
form.amp-form-submit-error [submit-error]{
  margin-top: 16px;
}
form.amp-form-submit-success [submit-success] {
  color: green;
}
form.amp-form-submit-error [submit-error] {
  color: red;
}
form.amp-form-submit-success.hide-inputs > input {
  display: none;
}




.highlight { background: #fff; }
.highlighter-rouge .highlight { background: #eef; }
.highlight .c { color: #998; font-style: italic; }
.highlight .err { color: #a61717; background-color: #e3d2d2; }
.highlight .k { font-weight: bold; }
.highlight .o { font-weight: bold; }
.highlight .cm { color: #998; font-style: italic; }
.highlight .cp { color: #999; font-weight: bold; }
.highlight .c1 { color: #998; font-style: italic; }
.highlight .cs { color: #999; font-weight: bold; font-style: italic; }
.highlight .gd { color: #000; background-color: #fdd; }
.highlight .gd .x { color: #000; background-color: #faa; }
.highlight .ge { font-style: italic; }
.highlight .gr { color: #a00; }
.highlight .gh { color: #999; }
.highlight .gi { color: #000; background-color: #dfd; }
.highlight .gi .x { color: #000; background-color: #afa; }
.highlight .go { color: #888; }
.highlight .gp { color: #555; }
.highlight .gs { font-weight: bold; }
.highlight .gu { color: #aaa; }
.highlight .gt { color: #a00; }
.highlight .kc { font-weight: bold; }
.highlight .kd { font-weight: bold; }
.highlight .kp { font-weight: bold; }
.highlight .kr { font-weight: bold; }
.highlight .kt { color: #458; font-weight: bold; }
.highlight .m { color: #099; }
.highlight .s { color: #d14; }
.highlight .na { color: #008080; }
.highlight .nb { color: #0086B3; }
.highlight .nc { color: #458; font-weight: bold; }
.highlight .no { color: #008080; }
.highlight .ni { color: #800080; }
.highlight .ne { color: #900; font-weight: bold; }
.highlight .nf { color: #900; font-weight: bold; }
.highlight .nn { color: #555; }
.highlight .nt { color: #000080; }
.highlight .nv { color: #008080; }
.highlight .ow { font-weight: bold; }
.highlight .w { color: #bbb; }
.highlight .mf { color: #099; }
.highlight .mh { color: #099; }
.highlight .mi { color: #099; }
.highlight .mo { color: #099; }
.highlight .sb { color: #d14; }
.highlight .sc { color: #d14; }
.highlight .sd { color: #d14; }
.highlight .s2 { color: #d14; }
.highlight .se { color: #d14; }
.highlight .sh { color: #d14; }
.highlight .si { color: #d14; }
.highlight .sx { color: #d14; }
.highlight .sr { color: #009926; }
.highlight .s1 { color: #d14; }
.highlight .ss { color: #990073; }
.highlight .bp { color: #999; }
.highlight .vc { color: #008080; }
.highlight .vg { color: #008080; }
.highlight .vi { color: #008080; }
.highlight .il { color: #099; }

.darkback {
  background: darkgreen;
  border-radius: 5px;
  padding: 2px;
}

.blueback {
  background: #0ab6ff;
  padding: 5px;
  border-radius: 5px;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.1), 0 10px 10px rgba(0, 0, 0, 0.13);
  }

.whitecolor {
  color: white;
}


.ampstart-btn, .ampstart-btn[disabled], .ampstart-btn[disabled]:focus, .ampstart-btn[disabled]:hover, a.ampstart-btn, a.ampstart-btn[disabled], a.ampstart-btn[disabled]:focus, a.ampstart-btn[disabled]:hover {
    color: darkgreen;
    font-weight: 100;
    border: 1px solid grey;
    }

.ampstart-btn {
    font-family: inherit;
    font-weight: inherit;
    font-size: 1rem;
    font-weight: 800;
    line-height: 1.125rem;
    padding: .7em .8em;
    text-decoration: none;
    border-radius: 4px;
    word-wrap: normal;
    vertical-align: middle;
    cursor: pointer;
    background-color: #fff;
    border: 5px solid <%= @color %>;
}

.pin {
  text-align: center;
  font-family: monospace;
  color: darkgreen;
  font-weight: 800;
  font-size: 20px;
  direction: ltr;
  border-bottom: 1px solid #f2f2f2;
}

.pin-easy a{
  color: #515151;
  font-size: 11px;
}





.icon > svg { display: inline-block; width: 16px; height: 16px; vertical-align: middle; }
.icon > svg path { fill: #828282; }

.hidden {
  display:none;
}
.subtitle{
  direction:rtl;
  margin: auto;
  margin-top: -25px;
  text-align:center;
  font-weight: bold;
  color: <%= @text_color %>;
  width: 90%;
}
[visible-when-invalid].visible {
    display: initial;
    color: darkred;
    font-size: 11px;
    font-weight: 800;
}

[visible-when-invalid].visible[visible-when-invalid=valueMissing] {
    display: none;
}


p {
  padding: 2px;
  padding-left: 5px;
  padding-right: 5px;
  color: <%= @color %>;
  font-size: 12px;
}

.subtitle h1{
  font-size: 20px;

}
.cf:after { content: ""; display: table; clear: both; }

main { display: block; }
.right {
  direction: rtl;
}

.text_right {
  text-align: right;
}

.center {
  text-align: center;
}
.nostyle {
  list-style: none;
}

.white_border {
  border: 5px solid #fff;
}

body { 
font-family: 'IRANSans', sans-serif;
background-image: url(/images/bg-<%= @product %>.svg);
background-size: cover;
background-position: 0px -50px;
background-color: <%= @color %>;
 margin: 0; padding: 0; text-rendering: optimizeLegibility; -webkit-font-smoothing: antialiased; -moz-font-feature-settings: "liga=1, dlig=1"; -ms-font-feature-settings: "liga", "dlig"; -webkit-font-feature-settings: "liga", "dlig"; -o-font-feature-settings: "liga", "dlig"; font-feature-settings: "liga", "dlig"; }

.site-header { 
    background: linear-gradient(90deg,#94103e 0,#db004d);
    /* position: absolute; */
    top: 0;
    /* left: 0px; */
    height: 164px;
    /* right: 0; */
    clip-path: polygon(155% 0%,0% 100%,0%0%);
    -webkit-clip-path: polygon(155% 0%,0% 100%,0%0%);
    color: white;
    /* width: 100%; */

}
@media only screen and (max-width: 800px) { .site-header { padding: 0 0px; } }
.site-header .page-links { display: block; position: absolute; top: 10px; right: 0; font-weight: 800; font-style: bold; font-size: 14px; line-height: 30px; }
.site-header .page-links a { text-decoration: none;}
.site-header .page-links a:hover {}

.blog-header { width: 100%; max-width: 700px; margin: 0 auto; position: relative; padding: 0; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }
.blog-header .blog-title { margin-bottom: 8px; font-size: 50px; font-weight: 700; letter-spacing: -2px; outline: 0; line-height: 50px; word-break: break-word; color: #333333; }
.blog-header .blog-description { font-size: 28px; margin: 0 0 20px; padding: 0; line-height: 1.2; color: #666666; font-weight: 300; }

.content {min-height: 450px; width: 100%; max-width: 700px; margin: 0px auto 0 auto; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; overflow-x: hidden;}
@media only screen and (max-width: 800px) { .content { padding: 0 0px; } }
.content article { padding: 20px 0; border-bottom: 1px solid #f2f2f0; }
.content article:last-child { border-bottom: 0px; }
.content article .post-title { letter-spacing: -0.02em; font-weight: 700; font-style: normal; display: block; font-size: 36px; line-height: 1.15; margin: 0 0; }
.content article .post-title a { text-decoration: none; color: #333332; }
.content article .post-title a:hover { text-decoration: none; }
.content article .post-excerpt { letter-spacing: -0.02em; font-weight: 300; font-style: normal; font-size: 20px; line-height: 1.59; color: #666665; }
.content article .post-meta { font-size: 14px; color: #b3b3b1; line-height: 30px; }
.content article .post-meta a { color: #b3b3b1; text-decoration: none; }
.content article .post-meta a:hover { text-decoration: underline; }

.post-template .content { max-width: 700px;}

.index-headline { border-top: 1px solid #dededc; margin: 0; padding: 16px 0; }
.index-headline span { color: #b3b3b1; font-size: 10px; text-transform: uppercase; letter-spacing: 1px; }

.pagination { text-align: center; padding: 16px 0 0; font-size: 12px; }
.pagination a { color: #999999; text-decoration: none; }
.pagination a:hover { color: #333333; }
.ltr {
  direction: ltr;
}

.site-footer {
    margin: 0 auto;
    padding: 128px 0;
    /* width: 100%; */
    /* max-width: 700px; */
    font-size: 12px;
    text-align: center;
    clip-path: polygon(500% 170%,0% 100%,0%0%);
    -webkit-clip-path: polygon(500% 170%,0% 100%,0%0%);
    color: white;
    /* color: #999999; */
    line-height: 17.6px;
    background: linear-gradient(90deg,#94103e 0,#000000);
 }
.site-footer a { color: #ffadcc; text-decoration: none; }
.site-footer a:hover { color: #f8f8f8; }

.post .post-meta { font-family: "Helvetica Neue", "Open Sans", Arial, Helvetica, sans-serif; }
.post .post-title { font-weight: 700; font-style: normal; letter-spacing: -0.04em; font-size: 50px; line-height: 1.1; color: #333332; margin-bottom: 50px; }
.post .author-image { background-image: url(/amplify//assets/images/author.jpg); display: inline-block; width: 30px; height: 30px; line-height: 30px; margin-right: 8px; margin-bottom: -10px; float: left; background-size: cover; border-radius: 100%; text-indent: -9999px; }
.post .post-meta-text { color: #b3b3b1; letter-spacing: -0.02em; font-weight: 400; font-style: normal; font-size: 14px; overflow: hidden; font-family: "Helvetica Neue", "Open Sans", Arial, Helvetica, sans-serif; white-space: nowrap; text-overflow: ellipsis; }
.post .post-content { width: 100%; font-family: Georgia, Cambria, "Times New Roman", Times, "Lora", serif; color: #333333; }
.post .post-content h1, .post .post-content h2, .post .post-content h3 { font-family: "Helvetica Neue", "Open Sans", Arial, Helvetica, sans-serif; }
.post .post-content h3, .post .post-content h4, .post .post-content h5, .post .post-content h6 { letter-spacing: -0.02em; font-weight: 700; font-style: normal; font-size: 24px; line-height: 1.3; margin-top: 50px; margin-bottom: 0px; font-family: "Helvetica Neue", "Open Sans", Arial, Helvetica, sans-serif; }
.post .post-content h3 { font-size: 36px; }
.post .post-content h2, .post .post-content h1 { letter-spacing: -0.02em; font-weight: 700; font-style: normal; font-size: 42px; line-height: 1.2; margin-top: 50px; margin-bottom: 0px; }
.post .post-content p { font-weight: 400; font-style: normal; font-size: 22px; line-height: 1.59; letter-spacing: -.002em; margin-top: 30px; margin-bottom: 0; color: #333333; -webkit-hyphens: auto; -moz-hyphens: auto; hyphens: auto; }
.post .post-content a { color: #333333; text-decoration: underline; }
.post .post-content amp-img, .post .post-content amp-youtube { margin-top: 30px; }
.post .post-content figure { margin: 0; padding: 0 0 30px; }
.post .post-content figcaption { font-weight: 400; font-style: italic; font-size: 16px; line-height: 1.3; color: #666665; outline: 0; z-index: 300; text-align: center; }
.post .post-content hr { border: 0; padding: 0; display: block; width: 15%; margin: 30px auto; border: 0px solid #dddddd; border-top: 1px solid #dddddd; }
.post .post-content blockquote { margin: 0 0 30px; margin-left: -26px; border-left: 3px solid #57ad68; padding-left: 20px; }
.post .post-content blockquote p { letter-spacing: 0.01rem; font-weight: 400; mborder-left: 3px solid #57ad68; mpadding-left: 20px; mmargin-left: -26px; padding-bottom: 3px; }
.post .post-content ul, .post .post-content ol { padding: 0 0 30px; margin: 0; }
.post .post-content li { padding: 0; font-weight: 400; font-style: normal; font-size: 23px; line-height: 30px; margin-left: 30px; margin-bottom: 12px; padding-top: 2px; }
.post .post-content li p { padding: 0 0 1.618rem; }
.post .post-content ol li { list-style-type: decimal; }
.post .bottom-teaser { padding: 50px 0 0 0; font-family: "Helvetica Neue", "Open Sans", Arial, Helvetica, sans-serif; }
.post .bottom-teaser hr { border: 0; padding: 0; display: block; width: 15%; margin: 16px 0 16px 100px; border: 0px solid #dddddd; border-top: 1px solid #dddddd; }
.post .bottom-teaser .isLeft { float: left; width: 47%; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }
@media only screen and (max-width: 800px) { .post .bottom-teaser .isLeft { width: 100%; padding-bottom: 32px; } }
.post .bottom-teaser .isLeft .bio { margin-top: 18px; margin-bottom: 18px; }
.post .bottom-teaser .isLeft .username { margin-left: 4px; margin-right: 18px; margin-bottom: 18px; }
.post .bottom-teaser .isLeft .index-headline { padding-bottom: 32px; }
.post .bottom-teaser .isLeft a { color: black; text-decoration: none; }
.post .bottom-teaser .isLeft a:hover { color: #333333; text-decoration: underline; }
.post .bottom-teaser .isLeft .author-image { display: block; width: 80px; height: 80px; float: left; background-size: cover; border-radius: 100%; text-indent: -9999px; }
.post .bottom-teaser .isLeft h4 { font-size: 18px; line-height: 1.1; font-weight: 700; padding: 0; margin: 0; padding-left: 100px; }
.post .bottom-teaser .isLeft p { font-size: 14px; line-height: 1.3; font-weight: 400; padding: 0; margin: 0; padding-left: 100px; }
.post .bottom-teaser .isLeft p.published { color: #999999; }
.post .bottom-teaser .isRight { float: right; width: 47%; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }
@media only screen and (max-width: 800px) { .post .bottom-teaser .isRight { width: 100%; } }
.post .bottom-teaser .isRight .index-headline { padding-bottom: 32px; }
.post .bottom-teaser .isRight .site-footer { margin: 0; padding: 0; color: #333333; text-align: left; font-size: 14px; line-height: 1.3; color: #999999; }
.post .bottom-teaser .isRight .site-footer a { color: #333333; text-decoration: none; }
.post .bottom-teaser .isRight .site-footer a:hover { text-decoration: underline; }
.post .bottom-teaser .isRight .site-footer .poweredby { display: block; padding-bottom: 18px; font-weight: 700; color: #333333; }
.logo {padding: 2%};
hr {background: #02a8ff; height: 2px; border: none;}
.footer-links i {
    vertical-align: sub;
}

.links_me {
  list-style: none;
  direction: rtl;
}
.links_me li {
  display: inline-block;
}
.intro_text {
  font-size:14px;
  color: #02a8ff;
}
.mci_color {color: #b7fffd;}
.rbt_color {color: #b7fffd;}
.irancell_color {color: #ffe761;}
.rightel_color {color: #ffcdec;}
.taliya_color {color: #fff;}
.default_color {color: #f2f2f2;}
.grey_color {color: #ffffff;}
.mci_back {background-color: #02a5a0;}
.irancell_back {background-color: #30bac7;}
.rightel_back {background-color: #30bac7;}
.taliya_back {background-color: #30bac7;}

.share { text-align: right; padding: 20px 0 0; }
.share a { text-decoration: none; color: #bbbbbb; padding-left: 12px; }
.share a .hidden { display: none; }
.share a:hover { color: #333333; }
.vertical_center {
  vertical-align: middle;
}

pre, code { font-size: 15px; border: 1px solid #e8e8e8; border-radius: 3px; background-color: #eeeeff; }

code { padding: 1px 5px; }

pre { padding: 8px 12px; overflow-x: scroll; }
pre > code { border: 0; padding-right: 0; padding-left: 0; }

.hidden {
  display:none;
}
.index_page {
    direction: rtl;
    margin-top: 5%;
    padding: 0px;
    text-align: right;
}

.index_page a.select_package {
    width: 95%;
    padding: 1%;
    display: inline-flex;
    margin: auto;
    margin-top: 2%;
    border-radius: 5px;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.1), 0 10px 10px rgba(0, 0, 0, 0.13);
  }

.index_page a {
    text-decoration: none;
    text-align: center;
    margin: auto;
    width: 90%;    
}

.index_page a.mci h1 {
    color: white;
    margin: auto;
    text-align: center;
    font-size: 20px;
}

.index_page a.select_package h1 small {
    border-top: 1px solid #f2f2f2;
    padding:  5px;
    font-size: 11px;
}


.index_page a.mci {
    background-color:rgba(3, 204, 199, 0.67);
}

.index_page a.mci:hover, .index_page a.mci:active{
    background-color: rgba(0, 194, 255, 0.8);
}

.index_page a.irancell h1 {
    color: #333;
    margin: auto;
    text-align: center;
    font-size: 20px;
}
  

.index_page a.irancell {
    background-color:rgba(255, 216, 0, 0.82);
}

.index_page a.irancell:hover, .index_page a.irancell:active {
    background-color:#ffd800;
}


.index_page a.rightel h1 {
    color: white;
    margin: auto;
    text-align: center;
    font-size: 20px;
}
  

.index_page a.rightel {
    background-color:rgba(148, 16, 99, 0.75);
}


.index_page a.rightel:hover, .index_page a.rightel:active {
    background-color: rgba(189, 22, 127, 0.82);
}

form.amp-form-submit-success > input {
  display: none
}



.irancell_topup_form {
  background-color: rgba(250, 172, 51, 0.64);
  border: 5px solid white;
  padding: 5px;
  text-align: center;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.1), 0 10px 10px rgba(0, 0, 0, 0.13);
}

.irancell_topup_form .msisdn_field{
  padding: 10px;
  border: 1px solid #ccc;
  background: white;
  margin-bottom: 20px;
}


.mci_topup_form {
  background-color: rgba(16, 176, 191, 0.76);
  border: 5px solid white;
  padding: 5px;
  text-align: center;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.1), 0 10px 10px rgba(0, 0, 0, 0.13);
}

.mci_topup_form .msisdn_field{
  padding: 10px;
  border: 1px solid #ccc;
  background: white;
  margin-bottom: 20px;
}



.rightel_topup_form {
  background-color: rgba(151, 28, 95, 0.82);
  border: 5px solid rgb(167, 71, 171);
  padding: 5px;
  text-align: center;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.1), 0 10px 10px rgba(0, 0, 0, 0.13);
}

.rightel_topup_form .msisdn_field{
  padding: 10px;
  border: 1px solid #ccc;
  background: white;
  margin-bottom: 20px;
}


input.msisdn {
  text-align: center;
  font-family: "IranSans";
  color: darkgreen;
  direction: ltr;
  padding: 5px;
  font-weight: 800;
  padding-left: 20px;
  padding-right: 20px;
  font-size: 1rem;
  outline: none;
  border:none;
}

  amp-selector.mci_topup_products amp-img[aria-selected=false] {
    background-color: #0ebeb1;
    box-shadow: 0 4px 3px rgba(0, 0, 0, 0.1), 0 5px 5px rgba(0, 0, 0, 0.13);
    border-radius: 5px;
    border: none;
}

  amp-selector.mci_topup_products amp-img[aria-selected=true] { 
    background-color: #333;
    border: none;
}

  amp-selector.irancell_topup_products amp-img[aria-selected=false] {
    background-color: #bf7b09;
    box-shadow: 0 4px 3px rgba(0, 0, 0, 0.1), 0 5px 5px rgba(0, 0, 0, 0.13);
    border-radius: 5px;
    border: none;
}

  amp-selector.irancell_topup_products amp-img[aria-selected=true] { 
    background-color: #333;
    border: none;
}

  amp-selector.rightel_topup_products amp-img[aria-selected=false] {
    background-color: rgb(160, 0, 99);
    box-shadow: 0 4px 3px rgba(0, 0, 0, 0.1), 0 5px 5px rgba(0, 0, 0, 0.13);
    border-radius: 5px;
    border: none;
}

  amp-selector.rightel_topup_products amp-img[aria-selected=true] { 
    background-color: #333;
    border: none;
}



.partners {
  
}

.irancell_package_list {
  background: rgba(255,255,255,0.9);
  padding: 10px;
  border: 5px dotted #fedc67;
}

.irancell_package_list li {
  list-style: none;
  margin-top: 5px;
  border-radius: 5px;
  padding: 3px;
  padding-right: 13px;
  border-bottom: 1px dashed #ccc;
}

.irancell_package_list li:hover, .irancell_package_list li:active {
  background: #fcc562;
}



/* ---------------------------------------------
    Assets
--------------------------------------------- */
/* ---------------------------------------------
    Colors
--------------------------------------------- */
/* ---------------------------------------------
    Fonts
--------------------------------------------- */
/* ---------------------------------------------
    Stylings
--------------------------------------------- */

.invoice_refid {
  font-family:monospace;
  font-weight: 800;
  color:  darkgreen;
}

.invoice_status {
  background: #f2f2f2;
  font-size: 11px;
  font-weight: bold;
  padding: 2px;
}

.invoice_date {
}

.invoice {
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.1), 0 10px 10px rgba(0, 0, 0, 0.13);
  margin: 50px 5px;
  padding: 30px 20px 20px;
}
.invoice header {
  overflow: hidden;
  margin-bottom: 10px;
}
.invoice header section:nth-of-type(1) {
  float: right;
}
.invoice header section:nth-of-type(1) h1 {
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 2px;
  color: #344760;
  font-size: 25px;
  margin-top: 0;
  margin-bottom: 5px;
}
.invoice header section:nth-of-type(1) span {
  color: #b7bcc3;
  font-size: 14px;
  letter-spacing: 2px;
}
.invoice header section:nth-of-type(2) {
  float: left;
}
.invoice header section:nth-of-type(2) span {
  font-size: 14px;
  letter-spacing: 1px;
}
.invoice header section:nth-of-type(2) span:before {
  content: "";
}
.invoice main {
  border: 1px dashed #b7bcc3;
  border-left-width: 0px;
  border-right-width: 0px;
  padding-top: 30px;
  padding-bottom: 30px;
}
.invoice main section {
  overflow: hidden;
}
.invoice main section span {
  float: right;
  color: #344760;
  font-size: 12px;
  letter-spacing: .5px;
}
.invoice main section span:nth-of-type(1) {
  width: 45%;
  margin-right: 5%;
}
.invoice main section span:nth-of-type(2) {
  width: 22.5%;
  margin-right: 5%;
}
.invoice main section span:nth-of-type(2), .invoice main section span:nth-of-type(3) {
  text-align: right;
}
.invoice main section span:nth-of-type(3) {
  width: 22.5%;
}
.invoice main section:nth-of-type(1) {
  margin-bottom: 10px;
}
.invoice main section:nth-of-type(1) span {
  color: #b7bcc3;
  text-transform: uppercase;
  font-size: 13px;
}
.invoice main section:nth-of-type(2) {
  margin-bottom: 30px;
}
.invoice main section:nth-of-type(2) figure {
  overflow: hidden;
  margin: 0;
  margin-bottom: 20px;
  line-height: 160%;
}
.invoice main section:nth-of-type(2) figure:last-of-type {
  margin-bottom: 0;
}
.invoice main section:nth-of-type(3) span:nth-of-type(1) {
  width: 72.5%;
  font-weight: bold;
}
.invoice main section:nth-of-type(3) span:nth-of-type(2) {
  margin-right: 0 ;
}
.invoice footer {
  text-align: center;
  margin-top: 30px;
}
.invoice footer a {
  font-size: 19px;
  font-weight: bold;
  text-decoration: none;
  text-transform: uppercase;
  position: relative;
  letter-spacing: 1px;
}
.invoice footer a:after {
  content: "";
  width: 0%;
  height: 4px;
  position: absolute;
  right: 0;
  bottom: -10px;
  background-color: inherit;
  -webkit-transition: width 0.2s ease-in-out;
  -moz-transition: width 0.2s ease-in-out;
  transition: width 0.2s ease-in-out;
}
.invoice footer a:hover:after {
  width: 100%;
}
.invoice footer a:nth-of-type(1) {
  color: green;
  font-weight: 800;
  margin-right: 30px;
}
.invoice footer a:nth-of-type(1):after {
  background-color: #b7bcc3;
}
.invoice footer a:nth-of-type(2) {
  color: #fe8888;
}
.invoice footer a:nth-of-type(2):after {
  background-color: #fe8888;
}

.links {
  margin-top: 50px;
  margin-bottom: 30px;
}
.success{
  color: darkgreen;
}

.danger{
  color: darkred;
}

.links ul{
  text-align: left;
}

.links ul li {
  list-style: none;
  display: inline-block;
  margin-left: 10px;
}

.mci-rbt{
  background: white;
  margin: 5px;
  width: 100%;
  font-size: 11px;

  padding: 10px;
  border-radius: 3px;
  border: 1px solid #f2f2f2;
}
.padded {
  padding:5px;
}

.mci-rbt tr{
}

.mci-rbt td a{
    color: #467b9c;
    text-decoration: none;
  }





  </style>




</head>

  <body>




  <amp-analytics type="googleanalytics">
  <script type="application/json">
  {
    "vars": {
      "account": "UA-XXXXX-Y"
    },
    "triggers": {
      "trackPageview": {
        "on": "visible",
        "request": "pageview"
      }
    }
  }
  </script>
  </amp-analytics>






    <header class="site-header">
  <a href="/" class="logo"><span class="logo"><amp-img src="/images/logo_s_topbar.png" width="96" height="96" /></span></a>


  <div class="page-links">

        <ol class="links_me" itemscope itemtype="http://schema.org/BreadcrumbList">
        <li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem"> 
          <a itemscope itemtype="http://schema.org/Thing" 
          itemprop="item" class="page-link whitecolor" 
          href="/"><strong itemprop="name">CharGELL</strong></a>
          <meta itemprop="position" content="1" />
        </li>


    <%= if @page_type == "landing" do %>
        <i class="fa fa-angle-double-left grey_color"></i>
        <li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem"> 
          <a itemscope itemtype="http://schema.org/Thing" 
          itemprop="item" class="page-link mci_color" 
          href="/mci"><span itemprop="name">شارژ همراه اول</span></a>
          <meta itemprop="position" content="2" />
        </li>


        <i class="fa fa-circle grey_color"></i>
        <li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem"> 
          <a itemscope itemtype="http://schema.org/Thing" 
          itemprop="item" class="page-link irancell_color" 
          href="/irancell"><span itemprop="name">شارژ ایرانسل</span></a>
          <meta itemprop="position" content="2" />
        </li>

        
        <i class="fa fa-circle grey_color"></i>
        <li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem"> 
          <a itemscope itemtype="http://schema.org/Thing" 
          itemprop="item" class="page-link rightel_color" 
          href="/rightel"><span itemprop="name">شارژ رایتل</span></a>
          <meta itemprop="position" content="2" />
        </li>
    <% end %>


    <%= if @page_type == "shop" or @page_type == "product" do %>
        <i class="fa fa-angle-double-left grey_color"></i>
        <li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem"> 
          <a itemscope itemtype="http://schema.org/Thing" 
          itemprop="item" class="page-link default_color" 
          href="/"><span itemprop="name">فروشگاه</span></a>
          <meta itemprop="position" content="2" />
        </li>
        
        <i class="fa fa-angle-double-left grey_color"></i>
        <li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem"> 
          <a itemscope itemtype="http://schema.org/Thing" 
          itemprop="item" class="page-link <%= @product %>_color" 
          href="/<%= @product %>" > <span itemprop="name"><%= @product_fr  %>
          </span></a>
          <meta itemprop="position" content="3" />
        </li> 
        <%= if @page_type == "product" do %>
            <i class="fa fa-angle-double-left grey_color"></i>
            <li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem"> 
              <a itemscope itemtype="http://schema.org/Thing" 
              itemprop="item" class="page-link <%= @product %>_color" 
              href="<%= @conn.request_path %>" > <span itemprop="name"><%= @title %>
              </span></a>
              <meta itemprop="position" content="4" />
            </li>
        <% end %>
    <% end %>
        </ol>

      
      
    
  </div>
</header>
<div class="subtitle">
<%= if @subtitle != "" do %>
 <h1>
  <i class="fa fa-ioxhost"></i>
  <%= @subtitle %> </h1>
<% end %>
</div>
    <main class="content" role="main">

            <%= render @view_module, @view_template, assigns %>

  <nav class="pagination" role="navigation">
    
    <span class="page-number"></span>
    
  </nav>

</main>


  <%= render Overcharge.LayoutView, "footer.html", assigns %>



  </body>
</html>

